<div nav-title>Scratch Challenge</div>
<h3>Start a test</h3>
<div ng-if="loading" class="center">
    <spinner></spinner>
</div>
<div ng-if="error">
    <error-bar message="Error loading.  Please try again" acknowledge="acknowledge"></error-bar>
</div>
<div ng-if="!loading && !error" class="offset-left">
    <div ng-if="!students.length || !assessments.length" class="center">
        <i class="large material-icons yellow-text">warning</i>
        <div ng-if="!students.length">There are currently no students!</div>
        <div ng-if="!assessments.length">There are currently no assessments!</div>
    </div>
    <div ng-if="students.length && assessments.length">
        <div class="row">
            <div class="input-field col s12 m6">
                <select select-init ng-model="data.selectedAssessment">
                    <option value="" disabled selected>Choose the Location</option>
                    <option ng-repeat="assessment in assessments" value="{{assessment}}">
                        <span style="text-overflow: ellipsis">{{assessment.location.name}}</span>
                    </option>
                </select>
                <label>Select Location</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <select select-init ng-model="data.selectedStudent">
                    <option value="" disabled selected>Choose a student</option>
                    <option ng-repeat="student in students" value="{{student}}">
                        <span style="text-overflow: ellipsis">{{student.studentID}}</span>
                    </option>
                </select>
                <label>Select Student</label>
            </div>
        </div>

        <div class="row" ng-if="settings.remindPin">
            <div class="col s12 m6">
                <h5>Reminder: </h5><h6>The current PIN is <span class="blue-text">{{settings.pin}}</span></h6>
            </div>
        </div>

        <!-- When the game is started, an empty call is made to responsiveVoice so that voice services will be available-->
        <!-- See the responsiveVoice FAQ for full explanation-->
        <button onclick="responsiveVoice.speak('   ');" ng-click="startGame()" ng-class="(data.selectedStudent && data.selectedAssessment)? '': 'disabled'"
                ng-disabled="!(data.selectedStudent && data.selectedAssessment)" class="waves-effect waves-light btn">Start Game</button>
    </div>
</div>