<div class="offset-left">
    <ng-include src="'app/templates/gallery/bug-match-gallery-modal.html'" ng-controller="galleryController"></ng-include>
    <ng-include src="'app/templates/gallery/bug-sort-gallery-modal.html'" ng-controller="galleryController"></ng-include>
    <ng-include src="'app/templates/gallery/plant-match-gallery-modal.html'" ng-controller="plantGalleryController"></ng-include>
    <ng-include src="'app/templates/gallery/fruit-veggie-gallery-modal.html'" ng-controller="plantGalleryController"></ng-include>

    <div ng-if="loading" class="center">
        <h4>Loading...</h4>
        <spinner></spinner>
    </div>
    <div ng-if="!loading && error">
        <error-bar message="{{error}}" acknowledge="clearError"></error-bar>
    </div>

    <div ng-if="!loading && !error">
        <br>
        <div class="row">
            <div class="input-field col s4">
                <select select-init id="assessmentSelect" ng-model="selectedObjects.selectedAssessmentObj">
                    <option value="" disabled selected>Choose a Location</option>
                    <option ng-repeat="assessment in assessments | orderBy: 'location.name'" ng-if="assessment.location.active"
                            value="{{assessment}}">
                        {{assessment.location.name}}
                    </option>
                </select>
                <label for="assessmentSelect">Location</label>
            </div>
            <div class="input-field col s4">
                <select select-init id="chapterSelect" ng-model="selectedObjects.selectedGameObj">
                    <option value="" disabled selected>Choose a Game</option>
                    <option ng-repeat="game in games | orderBy: 'chapter'" value="{{game}}">
                        {{game.name}} - Chapter {{game.chapter}}
                    </option>
                </select>
                <label for="chapterSelect">Game</label>
            </div>
        </div>
        <br>
        <!-- Show the "Questions for the assessment-->
        <div class="row" ng-if="selectedGame">
            <!-- Table for Bug Sorting game-->
            <div class="col s12" ng-if="selectedGame.id == 1">
                <h5>Bugs for {{selectedGame.name}}</h5>
                <table class="row-border hover striped">
                    <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Image</th>
                        <th>Active</th>
                    </tr>
                    </thead>
                    <tbody class="scrolling fixed-height-40">
                    <tr ng-repeat="bug in allBugs | orderBy: [bugIsExcluded, 'name']">
                        <td>What type of bug is the {{bug.bugName}}?</td>
                        <td>{{BUG_TYPES[bug.bugType]}}</td>
                        <td>
                            <a modal-init href="#bugSortGalleryModal" ng-click="pickItem(bug)">
                                <img class="img-rounded img-preview" src="{{imageGetters.getBugSortImage(bug).imageUri}}">
                            </a>
                        </td>
                        <td>
                            <p>
                                <input type="checkbox" id="activeBugSort{{bug.bugID}}" ng-checked="bugIsIncluded(bug)"
                                       ng-click="toggleBugIncluded(bug)"/>
                                <label for="activeBugSort{{bug.bugID}}"></label>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- End table for bug sorting game-->

            <!-- Table for Bug Matching Game-->
            <div class="col s12" ng-if="selectedGame.id == 2">
                <h5>Bugs for {{selectedGame.name}}</h5>
                <table class="row-border hover striped">
                    <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Image</th>
                        <th>Active</th>
                    </tr>
                    </thead>
                    <tbody class="scrolling fixed-height-40">
                    <tr ng-repeat="bug in allBugs | orderBy: [bugIsExcluded, 'name']">
                        <td>Which bug is this?</td>
                        <td>{{bug.bugName}}</td>
                        <td>
                            <a modal-init href="#bugMatchGalleryModal" ng-click="pickItem(bug)">
                                <!-- TODO: Set to the default bug.-->
                                <img class="img-rounded img-preview" src="{{imageGetters.getBugMatchImage(bug).imageUri}}">
                            </a>
                        </td>
                        <td>
                            <p>
                                <input type="checkbox" id="activeBugMatch{{bug.bugID}}" ng-checked="bugIsIncluded(bug)"
                                       ng-click="toggleBugIncluded(bug)"/>
                                <label for="activeBugMatch{{bug.bugID}}"></label>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- End table for Bug Matching game-->

            <!-- Table for Vegetable Matching Game-->
            <div class="col s12" ng-if="selectedGame.id == 3">
                <h5>Plants for {{selectedGame.name}}</h5>
                <table class="row-border hover striped">
                    <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Image</th>
                        <th>Active</th>
                    </tr>
                    </thead>
                    <tbody class="scrolling fixed-height-40">
                    <tr ng-repeat="veg in allVegs | orderBy: [vegIsExcluded, 'name']">
                        <td>Which vegetable is this?</td>
                        <td>{{veg.plant.plantName}}</td>
                        <td>
                            <!-- TODO: display the image selected for this game once the capability is in place-->
                            <a modal-init href="#plantMatchGalleryModal" ng-click="pickItem(veg.plant)">
                                <img class="img-rounded img-preview" src="{{imageGetters.getPlantMatchImage(veg.plant).imageUri}}">
                            </a>
                        </td>
                        <td>
                            <p>
                                <input type="checkbox" id="activePlantMatch{{veg.seedPacketID}}" ng-checked="vegIsIncluded(veg)"
                                       ng-click="toggleVegIncluded(veg)"/>
                                <label for="activePlantMatch{{veg.seedPacketID}}"></label>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- End table for Vegetable Matching game-->

            <!-- Table for Fruit-Veggie Game-->
            <div class="col s12" ng-if="selectedGame.id == 4">
                <h5>Plants for {{selectedGame.name}}</h5>
                <table class="row-border hover striped">
                    <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Image</th>
                        <th>Active</th>
                    </tr>
                    </thead>
                    <tbody class="scrolling fixed-height-40">
                    <tr ng-repeat="veg in allVegs | orderBy: [vegIsExcluded, 'name']">
                        <td>Is the {{veg.plant.plantName}} a fruit or vegetable?</td>
                        <td>{{veg.plant.isFruit? "Fruit" : "Vegetable"}}</td>
                        <td>
                            <!-- TODO: display the image selected for this game once the capability is in place-->
                            <a modal-init href="#fruitVeggieGalleryModal" ng-click="pickItem(veg.plant)">
                                <img class="img-rounded img-preview" src="{{imageGetters.getFruitVeggieImage(veg.plant).imageUri}}">
                            </a>
                        </td>
                        <td>
                            <p>
                                <input type="checkbox" id="activeFruitVeggie{{veg.seedPacketID}}" ng-checked="vegIsIncluded(veg)"
                                       ng-click="toggleVegIncluded(veg)"/>
                                <label for="activeFruitVeggie{{veg.seedPacketID}}"></label>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- End table for Fruit-Veggie game-->
        </div>
    </div>
</div>



