<div nav-title>Test Management</div>

<div class="row">
    <div class="col s12">
        <ul class="tabs" tabs-init>
            <li class="tab col s6"><a  text-primary class="active" href="#tests">Modify Tests</a></li>
            <li class="tab col s6"><a text-primary href="#locations">Manage Locations</a></li>
            <li class="tab col s6"><a text-primary href="#settings">Game Settings</a></li>
        </ul>
    </div>
    <div id="tests" class="col s12">
        <ng-include src="'app/templates/test-mgmt/tests.html'" ng-controller="testMgmtController"></ng-include>
    </div>
    <div id="locations" class="col s12" ng-controller="locationMgmtController">
        <ng-include src="'app/templates/test-mgmt/locations.html'"></ng-include>
    </div>
    <div id="settings" class="col s12" ng-controller="gameSettingsController">
        <ng-include src="'app/templates/test-mgmt/settings.html'"></ng-include>
    </div>
</div>