<div id="bugSortGalleryModal" class="modal" style="width: 80vw; height: 90vh;">
    <br>
    <div ng-if="!status.creating">
        <div class="row">
            <div class="col s9 m6 offset-left">
                <a class="waves-effect waves-light btn" href="#"
                   id="upload_widget_opener"
                   ng-click="uploadImage(selectedObjects.selected)">Upload New {{selectedObjects.selected.bugName}} images</a>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col s6 m3 center" ng-repeat="image in selectedObjects.selected.images">
                <div class="card">
                    <div style="height: 150px;, width: 150px;">
                        <img ng-src="{{ image.imageUri }}" class="gallery-image">
                    </div>
                    <div class="card-content">
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div ng-if="image.bugSortInd">
                                <a>
                                <span class="green-text">
                                    <i class="material-icons">done</i>
                                    Using this photo
                                </span>
                                </a>
                            </div>
                            <div ng-if="!image.bugSortInd">
                                <a class="clickable" ng-click="useForBugSort(image)">
                                <span class="blue-text">
                                    <i class="material-icons">input</i>
                                    Use this photo
                                </span>
                                </a>
                            </div>
                        </div>

                        <a ng-click="deleteImage(image, selectedObjects.selected)" class="clickable red-text">
                            <i class="material-icons">delete</i>
                            Delete image
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" ng-show="status.creating">
        <div class="col s12">
            <h4>Image information</h4>
            <hr>
            <p>
                <input type="checkbox" id="isSheetCheck" ng-checked="imageInfo.isSheet" ng-model="imageInfo.isSheet"/>
                <label for="isSheetCheck">Is this a spritesheet?</label>
            </p>
            <div ng-if="imageInfo.isSheet">
                <div class="row">
                    <div class="col s12 m6">
                        <input type="number" step="1" id="horizontalFrames" ng-model="imageInfo.horizontalFrames">
                        <label for="horizontalFrames">Horizontal Frames</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m6">
                        <input type="number" step="1" id="verticalFrames" ng-model="imageInfo.verticalFrames">
                        <label for="verticalFrames">Vertical Frames</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6 m3">
                    <a class="waves-effect waves-light btn green" ng-click="continue()">
                        <i class="material-icons right">trending_flat</i> Continue
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="loading" class="center">
        <spinner></spinner>
    </div>
</div>