<div id="plantMatchGalleryModal" class="modal" style="width: 80vw; height: 90vh;">

    <br>
    <div class="row">
        <div class="col s9 m6 offset-left">
            <a class="waves-effect waves-light btn" href="#"
               id="upload_widget_opener"
               ng-click="uploadImage(selectedObjects.selected)">Upload New {{selectedObjects.selected.plantName}} images</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col s6 m3 center" ng-repeat="image in selectedObjects.selected.images">
            <div class="card">
                <div style="height: 150px;, width: 150px;">
                    <img ng-src="{{ image.imageUri }}" class="gallery-image">
                </div>
                <div class="card-content">
                </div>
                <div class="card-action">
                    <div class="row">
                        <div ng-if="image.plantMatchInd">
                            <a>
                                <span class="green-text">
                                    <i class="material-icons">done</i>
                                    Using this photo
                                </span>
                            </a>
                        </div>
                        <div ng-if="!image.plantMatchInd">
                            <a class="clickable" ng-click="useForPlantMatch(image)">
                                <span class="blue-text">
                                    <i class="material-icons">input</i>
                                    Use this photo
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <a ng-click="deleteImage(image, selectedObjects.selected)" class="clickable red-text">
                            <i class="material-icons">delete</i>
                            Delete image
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div ng-if="loading" class="center">
        <spinner></spinner>
    </div>
</div>