<div nav-title>Student Detailed Report</div>
<h3>Report for {{studentID}}</h3>
<hr>
<button class="waves-effect waves-light btn" tertiary ng-click="goBack()">Go Back</button>
<div ng-repeat="(chapter, value) in result.chapterResults" ng-if="value.answers.length">
    <h5 text-primary>Chapter {{chapter}}</h5>
    <ul class="collapsible popout" data-collapsible="accordion" collapse-init>
        <li>
            <div class="collapsible-header"><i class="material-icons">equalizer</i>Statistics</div>
            <div class="collapsible-body offset-left">
                <div class="collection-item">
                    <b>Total Responses:</b> {{value.answers.length}}
                </div>
                <div class="collection-item">
                    <b>Percentage Correct:</b> {{value.pctCorrect*100}}%
                </div>
                <div class="collection-item">
                    <b>Number Correct:</b> {{value.correctCount}}
                </div>
                <div class="collection-item">
                    <b>Number Incorrect:</b> {{value.incorrectCount}}
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">list</i>Answers</div>
            <div class="collapsible-body offset-left">
                <table>
                    <thead>
                    <tr>
                        <th>Question</th>
                        <th>Student Response</th>
                        <th>Correct Response</th>
                        <th>Choices</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="answer in value.answers">
                        <td>{{answer.question}}</td>
                        <td>{{answer.studentChoice}}</td>
                        <td>{{answer.correctChoice}}</td>
                        <td>{{answer.choices}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
    <!--<ul class="collection with-header" ng-if="value.answers.length">-->
        <!--<li class="collection-header" text-primary><h5>Chapter {{chapter}}</h5></li>-->
        <!--<li class="collection-item">-->
            <!--<b>Total Responses:</b> {{value.answers.length}}-->
        <!--</li>-->
        <!--<li class="collection-item">-->
            <!--<b>Percentage Correct:</b> {{value.pctCorrect*100}}%-->
        <!--</li>-->
        <!--<li class="collection-item">-->
            <!--<b>Number Correct:</b> {{value.correctCount}}-->
        <!--</li>-->
        <!--<li class="collection-item">-->
            <!--<b>Number Incorrect:</b> {{value.incorrectCount}}-->
        <!--</li>-->

    <!--</ul>-->
</div>