<div nav-title>View Report</div>
<table>
    <thead>
    <tr>
        <th ng-click="chooseSorting('studentID')">Student ID
            <i ng-if="orderOption=='studentID'"
               ng-class="(reverseOrder)? 'entypo-down-open' : 'entypo-up-open'"
               class="no-italics"
            ></i>
        </th>
        <th ng-click="chooseSorting('pctCorrect')">Percent Correct
            <i ng-if="orderOption=='pctCorrect'"
               ng-class="(reverseOrder)? 'entypo-up-open' : 'entypo-down-open'"
               class="no-italics"
            ></i>
        </th>
        <th ng-click="chooseSorting('correctCount')">Correct Answers
            <i ng-if="orderOption=='correctCount'"
               ng-class="(reverseOrder)? 'entypo-up-open' : 'entypo-down-open'"
               class="no-italics"
            ></i>
        </th>
        <th ng-click="chooseSorting('incorrectCount')">Incorrect Answers
            <i ng-if="orderOption=='incorrectCount'"
               ng-class="(reverseOrder)? 'entypo-up-open' : 'entypo-down-open'"
               class="no-italics"
            ></i>
        </th>
        <th ng-click="chooseSorting('bestChapter')">Best Chapter
            <i ng-if="orderOption=='bestChapter'"
               ng-class="(reverseOrder)? 'entypo-up-open' : 'entypo-down-open'"
               class="no-italics"
            ></i>
        </th>
        <th ng-click="chooseSorting('worstChapter')">Worst Chapter
            <i ng-if="orderOption=='worstChapter'"
               ng-class="(reverseOrder)? 'entypo-up-open' : 'entypo-down-open'"
               class="no-italics"
            ></i>
        </th>
        <th ng-click="chooseSorting('averageTime')">Average Time
            <i ng-if="orderOption=='averageTime'"
               ng-class="(reverseOrder)? 'entypo-up-open' : 'entypo-down-open'"
               class="no-italics"
            ></i>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="result in report.results
            | orderBy: sort : reverseOrder">
        <td><a ng-click="goToStudentDetail(result.studentID)">{{result.studentID}}</a></td>
        <td>{{result.pctCorrect*100}}%</td>
        <td>{{result.correctCount}}</td>
        <td>{{result.incorrectCount}}</td>
        <td>{{result.bestChapter}}</td>
        <td>{{result.worstChapter}}</td>
        <td>{{result.averageTime.minutes}}:{{result.averageTime.seconds | formatSeconds}}</td>
    </tr>
    </tbody>
</table>

<button class="waves-effect waves-light btn" tertiary ng-click="downloadCSV()">Download CSV Report</button>

<!--Modal for showing any errors that occurred-->
<!-- Modal Structure -->
<div id="error-modal" class="modal modal-fixed-footer">
    <ng-include src="'app/templates/reports/report-errors-modal.html'"></ng-include>
</div>