<div class="row">
    <div class="col s12">
        <ul class="tabs" tabs-init>

            <li class="tab col s3">
                <a class="active" href="/app/accounts/students" ng-click="goToStudents()" text-primary>Students</a>
            </li>
            <li class="tab col s3">
                <a href="/app/accounts/instructors" ng-click="goToInstructors()" text-primary>Instructors</a>
            </li>
            <li class="tab col s3">
                <!--<a ui-sref="app.account-management.admins" ng-class="(adminActive)? 'active': ''">Admins</a>-->
                <a href="/app/accounts/admins" ng-click="goToAdmins()" text-primary>Admins</a>
            </li>
        </ul>
    </div>
    <div id="students" class="col s12" ui-view="studentTab">
        <!-- Students injected here -->
    </div>
    <div ng-if="isAdmin" id="instructors" class="col s12" ui-view="instructorTab">
        <!-- Instructors injected here -->
    </div>
    <div ng-if="isAdmin" id="admins" class="col s12" ui-view="adminTab">
        <!-- Admin mgmt gets injected here -->
    </div>
</div>