<div nav-title>Account Management</div>
<br/>

<!-- HTML partial for account creation form: -->
<ng-include src="'app/templates/account-mgmt/add-account-modal.html'"></ng-include>

<!-- HTML partial for account detail view : -->
<!--<ng-include src="'app/templates/account-mgmt/account-detail-modal.html'"></ng-include>-->

<div class="offset-left input-field col s6 m3">
    <label for="query">Search: </label>
    <input type="text" id="query" ng-model="query" />
</div>
<p class="offset-left s6">
    <input type="checkbox" id="checkbox" ng-model="options.showArchived" />
    <label for="checkbox">Show Archived Accounts</label>
</p>

<div ng-if="error" class="offset-left">
    <br>
    <div class="card-panel red lighten-2">
        <i class="material-icons">error</i>
        Error retrieving accounts.
        <i class="material-icons clickable" ng-click="reload()">replay</i>
    </div>
</div>

<br>
<error-bar ng-if="actionError" message="{{actionError}}" acknowledge="acknowledgeActionError"></error-bar>

<div ng-if="!error && loading" class="offset-left">
    Loading accounts...<br/>
    <svg class="spinner" width="100px" height="100px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="50" cy="50" r="44"></circle>
    </svg>
</div>

<div ng-if="!loading && !error" class="bounded-table">
    <div ng-if="hasAccountsToShow()" class="offset-left">
        <table class="row-border hover striped">
            <thead>
            <tr>
                <th class="clickable" ng-click="chooseSorting('username')">
                    Username
                    <i ng-if="orderOption=='username'"
                       ng-class="(reverseOrder)? 'entypo-down-open' : 'entypo-up-open'"
                       class="no-italics">
                    </i>
                </th>
                <th  class="clickable" ng-click="chooseSorting('name')">
                    Name
                    <i ng-if="orderOption=='name'"
                       ng-class="(reverseOrder)? 'entypo-down-open' : 'entypo-up-open'"
                       class="no-italics">
                    </i>
                </th>
                <th  class="clickable" ng-click="chooseSorting('dateCreated')">
                    Date Created
                    <i ng-if="orderOption=='dateCreated'"
                       ng-class="(reverseOrder)? 'entypo-down-open' : 'entypo-up-open'"
                       class="no-italics">
                    </i>
                </th>
                <th>
                    Demote to Instructor
                    <i ng-if="orderOption=='isAdmin'"
                       ng-class="(reverseOrder)? 'entypo-down-open' : 'entypo-up-open'"
                       class="no-italics">
                    </i>
                </th>
                <th class="clickable" ng-click="chooseSorting('deleted')">Archive / Unarchive</th>
            </tr>
            </thead>
            <tbody class="scrolling fixed-height-40">
            <tr ng-repeat="
            account in accounts
            | orderBy: sort : reverseOrder
            | filter: shouldFilter
            | filter: query
            ">

                <td>{{ account.userName }}</td>
                <td>{{account.firstName}} {{account.lastName}}</td>
                <td>{{account.createdDate | beautifyDate}}</td>
                <td>
                    <button class="btn waves-effect waves-light"
                            ng-class="currentUser.id==account.id ? 'disabled' : ''"
                            ng-click="demote(account)">
                        Demote
                    </button>
                </td>
                <td ng-if="!account.isDeleted">
                    <button class="btn-floating waves-effect waves-light red" ng-click="archiveAccount(account)">
                        <i class="material-icons" >delete</i>
                    </button>
                </td>
                <td ng-if="account.isDeleted">
                    <button class="btn-floating waves-effect waves-light blue" ng-click="unArchiveAccount(account)">
                        <i class="material-icons" >restore</i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="offset-left" ng-if="!hasAccountsToShow()">
        <!--<div class="card-panel red">There are currently no accounts!</div>-->
        <error-bar message="There are currently no admins"></error-bar>
    </div>

</div>

<br>
<button modal-init class="waves-effect waves-light btn modal-trigger" href="#addAccountModal" tertiary text-secondary>
    <i class="material-icons left">add</i>
    Add Account
</button>
<br>
