<div nav-title>Student Management</div>
<br>

<div class="offset-left input-field col s6 m3">
    <label for="query">Search: </label>
    <input type="text" id="query" ng-model="query" />
</div>
<div class="offset-left input-field col s6">
    <input type="checkbox" id="checkbox" ng-model="options.showArchived" />
    <label for="checkbox">Show Archived Students</label>
</div>

<div ng-if="error" class="offset-left">
    <div class="card-panel red lighten-2">
        <i class="material-icons">error</i>
        Error retrieving students.
        <i class="material-icons" ng-click="reload()">replay</i>
    </div>
</div>

<div ng-if="!error && loading" class="offset-left">
    Loading students...<br/>
    <svg class="spinner" width="100px" height="100px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="50" cy="50" r="44"></circle>
    </svg>
</div>

<div ng-if="!loading && !error" class="bounded-table">
    <div ng-if="hasStudentsToShow()" class="offset-left">
        <table class="row-border hover striped">
            <thead>
            <tr>
                <th ng-click="chooseSorting('studentID')" class="clickable">
                    ID
                    <i ng-if="orderOption=='studentID'"
                       ng-class="(reverseOrder)? 'entypo-down-open' : 'entypo-up-open'"
                       class="no-italics"
                            ></i>
                </th>
                <th  ng-click="chooseSorting('dateCreated')" class="clickable">
                    Date Created
                    <i ng-if="orderOption=='dateCreated'"
                       ng-class="(reverseOrder)? 'entypo-down-open' : 'entypo-up-open'"
                       class="no-italics"
                            ></i>
                </th>
                <th ng-click="chooseSorting('deleted')" class="clickable"></th>
            </tr>
            </thead>
            <tbody class="scrolling fixed-height-40">
            <tr ng-repeat="
            student in students
            | orderBy: sort : reverseOrder
            | filter: shouldFilter
            | filter: query
            ">
                <td>{{ student.studentID }}</td>
                <td>{{student.registrationDate | beautifyDate}}</td>
                <td ng-if="!student.isDeleted">
                    <button class="btn-floating waves-effect waves-light red" ng-click="archiveStudent(student)">
                        <i class="material-icons" >delete</i>
                    </button>
                </td>
                <td ng-if="student.isDeleted">
                    <button class="btn-floating waves-effect waves-light blue" ng-click="unArchiveStudent(student)">
                        <i class="material-icons" >restore</i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="offset-left" ng-if="!hasStudentsToShow()">
        <div class="card-panel red">There are currently no students!</div>
    </div>
</div>

<ul class="collapsible1 offset-left" data-collapsible="accordion" collapse-init>
    <li>
        <div class="collapsible-header" tertiary text-secondary><i class="material-icons">add</i>Add Student</div>
        <div class="collapsible-body">
            <span>Enter the new student's six-digit identifier: </span>
            <div class="row">
                <div class="input-field col s2">
                    <input id="input_text" class="validate" type="text" length="6" pattern="\w\w\w\w\d\d" ng-model="data.newStudentID" char-counter-init>
                    <label for="input_text">Identifier</label>
                </div>
            </div>
            <!-- Show this on error: -->
            <error-bar ng-if="addError" message="{{addError}}" acknowledge="acknowledge"></error-bar>
            <button class="btn waves-effect waves-light"
                    type="submit" name="action"
                    ng-click="addStudent(data.newStudentID)"
                    ng-class="idIsValid(data.newStudentID)? '':'disabled'"
                    tertiary text-secondary>
                Submit
                <i class="material-icons right">launch</i>
            </button>
        </div>
    </li>
</ul>