<ul id="dropdown1" class="dropdown-content">
  <li><a ui-sref="app.dashboard" primary text-secondary>Dashboard</a></li>
  <li><a ui-sref="app.test-start" primary text-secondary>Begin Game</a></li>
  <li ng-if="isAdmin"><a ui-sref="app.account-management.students" text-secondary primary>Accounts</a></li>
  <li ng-if="isAdmin"><a ui-sref="app.test-management" text-secondary primary>Game Management</a></li>
  <li><a ui-sref="app.reports" text-secondary primary>Reports</a></li>
  <li><a ui-sref="app.my-account" text-secondary primary>My Account</a> </li>
</ul>
<nav ng-show="showNav" id="jmg-navbar" class="title-font">
  <div class="nav-wrapper" primary>
    <a class="brand-logo" text-secondary>{{navTitle || 'Scratch Red'}}</a>
    <a data-activates="mobile-sidemenu" class="button-collapse" text-secondary primary side-nav-init><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a ui-sref="app.dashboard" text-secondary primary>Dashboard</a></li>
      <li><a ui-sref="app.test-start" text-secondary primary>Begin Game</a></li>
      <li ng-if="isAdmin"><a ui-sref="app.account-management.students" text-secondary primary>Accounts</a></li>
      <li ng-if="isAdmin"><a ui-sref="app.test-management" text-secondary primary>Game Management</a></li>
      <li><a ui-sref="app.reports" text-secondary primary>Reports</a></li>
      <li><a ui-sref="app.my-account" text-secondary primary>My Account</a> </li>
      <!-- Dropdown Trigger -->
    </ul>
    <ul class="side-nav" id="mobile-sidemenu" primary>
      <li><a ui-sref="app.dashboard" text-secondary>Dashboard</a></li>
      <li><a ui-sref="app.test-start" text-secondary>Begin Game</a></li>
      <li ng-if="isAdmin"><a ui-sref="app.account-management.students" text-secondary>Accounts</a></li>
      <li ng-if="isAdmin"><a ui-sref="app.test-management" text-secondary>Game Management</a></li>
      <li><a ui-sref="app.reports" text-secondary>Reports</a></li>
      <li><a ui-sref="app.my-account" text-secondary>My Account</a></li>
    </ul>
  </div>
</nav>
<ui-view name="app">
  <!-- Content injected here -->
</ui-view>
